/venv
.env
client_secret.json
Mentoria - Integração Python e Word
iteraveis.ipynb
Mentoria - Integração Python e Word.zip
TextoFormatado.docx
testequatro.py
teste_dois.py
__pycache__
classe_generica_documento.py
docs/documentacao.odt
