/venv
.env
client_secret.json
Mentoria - Integração Python e Word
iteraveis.ipynb
Mentoria - Integração Python e Word.zip
TextoFormatado.docx
testequatro.py
teste_dois.py
__pycache__
classe_generica_documento.py
docs/documentacao.odt
docs/resumo_do_video_alta_procura_incentiva_novo_bairro___cities_skylines_.docx
docs/transcricao_bruta_alta_procura_incentiva_novo_bairro___cities_skylines_.txt
docs/videos_transcrever.xlsx
docs/videos_transcrever.xlsx
